@import '~@angular/material/theming';
@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

@include mat-core();

//https://material.io/color/#!/?view.left=0&view.right=0&primary.color=0277BD
$primary: mat-palette($mat-light-blue, 800);
$accent: mat-palette($mat-pink, 500);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme($theme);

.app-color-primary {
  background: mat-color($primary);
}

.app-color-primary-light {
  background: #58a5f0;
}

.app-color-primary-dark {
  background: #003c8f;
}

.app-color-accent {
  background: mat-color($accent);
}
