.app-card{
  margin-top: 120px;
  margin-bottom: 160px;
  border-radius: 7px;
}

.app-login-card-background{
  height: 120px;
  background-image: url("/src/assets/indigo-background.jpg");
  background-size: cover;
  border-radius: 7px 7px 0px 0px;
}

.app-login-card-title{
  font-size: 24px;
  color: white;
  padding-left: 28px;
  padding-top: 25px;
}
