<div fxFlexFill fxLayout="row" fxLayoutAlign="center center">
  <md-card class="app-card">
    <ng-template tdLoading [tdLoadingUntil]="!isLoading" tdLoadingStrategy="overlay">

      <div md-card-image class="app-login-card-background">
        <div fxLayout="row" fxFlexFill fxLayoutAlign="start center" class="app-login-card-title">
          contacts-app
        </div>
      </div>
      <md-card-content>
        <div fxLayout="row" fxLayoutAlign="start center">
          <md-icon class="md-24" color="primary" style="padding-right: 12px">person</md-icon>
          <md-input-container fxFlex="auto">
            <input mdInput type="text" [(ngModel)]="user.userName" placeholder="Username" required>
          </md-input-container>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center">
          <md-icon class="md-24" color="primary" style="padding-right: 12px">lock</md-icon>
          <md-input-container fxFlex="auto">
            <input mdInput type="password" [(ngModel)]="user.passWord" placeholder="Password" required>
          </md-input-container>
        </div>
        <br>
        <br>
        <div fxLayout="column" fxlayoutAlign="end end">
          <button appVibration md-raised-button color="primary"
                  [disabled]="!user.userName || !user.passWord"
                  (click)="onLogin()">Login
          </button>
        </div>
      </md-card-content>
    </ng-template>
  </md-card>
</div>
