<md-sidenav-container class="app-sidenav-container">

    <md-sidenav *ngIf="this.toolbarVisible" class="app-sidenav" #sideNav name="sideNav" [mode]="sidenavMode" color="primary" [opened]="sidenavMode == 'side'">
      <div fxLayout="row" class="app-sidenav-sidenav">
        <div fxLayout="column" fxLayoutAlign="center start">
          <md-icon class="md-30" style="width: 80px; height: 80px; font-size: 80px" >account_circle</md-icon>
          <br>
          <div class="app-sidenav-name">Esa Aho</div>
          <div class="app-sidenav-address">bti.golf@gmail.com</div>
        </div>
      </div>
      <div class="app-sidenav-content">
        <button md-raised-button (click)="logout()">Log out</button>
      </div>
    </md-sidenav>

    <md-toolbar *ngIf="this.toolbarVisible" class="mat-elevation-z5">
      <div fxLayout="row" fxLayoutAlign="start center">
        <button md-icon-button (click)="toggle()">
          <md-icon class="md-24">menu</md-icon>
        </button>
        <h4>Contacts</h4>
      </div>

    </md-toolbar>

    <div fxFlexFill class="app-container">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>
