.app-container {
  overflow: auto;
  height: 100%;
}

.app-sidenav{
  width: 230px;
}

.app-sidenav-content{
  padding: 100px 12px 12px;
}

.app-sidenav-toolbar{
  height: 140px;
  background-image: url("../assets/blue-background.png");
  color: white;
}

.app-sidenav-container{
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-toolbar-placeholder-fix {
  height: 70px;
}

.mat-elevation-z5{
  background-image: url("../assets/blue-background.png");
  color: white;
}
