<md-card class="app-contact-card-container">
  <div md-card-image fxLayout="column" class="app-color-primary-light app-contact-card-content">
    <md-icon class="app-contact-card-icon">face</md-icon>
    <md-card-content>
      <div class="app-contact-card-title">
        {{contact.firstName}} {{contact.lastName}}
      </div>
      <div class="app-contact-card-subtitle">
        {{contact.streetAddress}}, {{contact.city}}
      </div>
      <div class="app-contact-card-subtitle">
        {{contact.phoneNumber}}
      </div>
    </md-card-content>
  </div>

  <md-card-actions>
    <div fxLayout="row" fxLayOutAlign="space-between end">
      <div>
        <button md-icon-button (click)="editContact()">
          <md-icon>edit</md-icon>
        </button>
      </div>
      <div>
        <button md-icon-button (click)="removeContact()">
          <md-icon>delete</md-icon>
        </button>
      </div>
      <div>
        <button *ngIf="contact.streetAddress || contact.city" md-icon-button (click)="showContactOnMap()">
          <md-icon>place</md-icon>
        </button>
      </div>
    </div>
  </md-card-actions>
</md-card>

