.app-contact-list-item-container {
  width: 300px;
}

.app-contact-text {
  font-size: 1.1em;
}

.app-contact-list-item-icon {
  width: 10px;
  height: 10px;
  font-size: 60px;
  color: lightcyan;
}
.app-contact-list-item-footer-icon {
  padding: 10px;
  color: lightcyan;
}
